<!DOCTYPE HTML>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>Bilskoogs Snickeri Image Crop</title>
    <link type="text/css" media="screen" rel="stylesheet" href="style.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="jcrop/css/jquery.Jcrop.css" />
    <script src="http://code.jquery.com/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="jcrop/js/jquery.Jcrop.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="section" style="position:relative">
      <h1>crop</h1>
      <form action="/crop" enctype="multipart/form-data" method="post">
        <input type="file" name="file">
        <input type="submit" value="Upload">
        
        <input type="hidden" id="x" name="x" />
        <input type="hidden" id="y" name="y" />
        <input type="hidden" id="w" name="w" />
        <input type="hidden" id="h" name="h" />
        
        
        <img id="thumb" src="crop/thumb.jpg" style="position:absolute;left:-200px;">
        
        <div style="position:absolute;left:-200px;top:250px;overflow: hidden; width: 150px; height: 150px;">
          <img id="preview" src="crop/image.jpg">
        </div>
        
        <img id="jcrop_target" src="crop/image.jpg">
        
      </form>
    </div>
    <script type="text/javascript" charset="utf-8">
      
      $(function(){

        $('#jcrop_target').Jcrop({
          onChange: showPreview,
          onSelect: showPreview,
          aspectRatio: 1
        });

      });
      
      function showPreview(coords) {
        var rx = 150 / coords.w;
        var ry = 150 / coords.h;

        $('#preview').css({
          width: Math.round(rx * $('#jcrop_target').width()) + 'px',
          height: Math.round(ry * $('#jcrop_target').height()) + 'px',
          marginLeft: '-' + Math.round(rx * coords.x) + 'px',
          marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
        
        updateCoords(coords);
      };
      
      function updateCoords(c) {
        jQuery('#x').val(c.x);
        jQuery('#y').val(c.y);
        jQuery('#w').val(c.w);
        jQuery('#h').val(c.h);
      };
      
    </script>
  </body>
</html>
