<!DOCTYPE HTML>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>Bilskoogs Snickeri</title>
    <link type="text/css" media="screen" rel="stylesheet" href="style.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="colorbox/style/colorbox.css" />
  </head>
  <body>
    <div id="header">
      <div class="section logo">
        <img src="logo.png">
      </div>
    </div>
    
    <div class="section" id="main">
      <div style="float:left;margin-right:20px;width:300px;">
        <h2>Kontaktuppgifter</h2>
        <p>Göran Bilskoog<br>
        Ljusnästorp 4<br>
        680 51 Stöllet</p>

        <p>Tel. 0560 82021<br>
        Mob. 070 7802021<br>
        Email info@bilskoog.se<br>
        Bankgiro 642-1226</p>
        <p>Innehar F-skattesedel</p>
        <img class="photo" src="profile.jpg" style="">
        
        <p class="tagline">Renovering, reparation och tillverkning av
          <span>fönster, dörrar, möbler och inredning.</span></p>
      </div>
      
      <div style="float:left;width:400px">
        <h2>Vägbeskrivning</h2>
          <p>Bilskoogs Snickeri ligger i Torsby komun i norra Värmland på väg 62, 4&nbsp;km norr om Värnäs.</p>
        
        <iframe class="photo" width="400" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=216399263132344028785.0004989e6119c054deb32&amp;ll=60.461111,13.272514&amp;spn=0.117469,0.291824&amp;z=11&amp;output=embed"></iframe><br /><small style="margin-left:2em">Visa Bilskoogs Snickeri på en <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=216399263132344028785.0004989e6119c054deb32&amp;ll=60.461111,13.272514&amp;spn=0.117469,0.291824&amp;z=11&amp;source=embed" style="color:#4D350A;text-align:left;font-weight:bold">större karta</a>.</small>
        
        <img class="photo" src="verkstaden.jpg" style="margin-top: 40px">
      </div>
    </div>
    
    <div id="samples-wrapper">
    <div id="samples">
      <h4>Exempel på gjorda arbeten</h4>
      <ul>
        <li>
          <a href="work/image9.jpg" rel="thumb">
            <img class="thumb" src="work/thumb9.jpg">
            <p>Leksandsstol, före/efter renovering</p>
          </a>
        </li>
        <li>
          <a href="work/image3.jpg" rel="thumb">
            <img class="thumb" src="work/thumb3.jpg">
            <p>Renoverad hundraårig spegeldörr</p>
          </a>
        </li>
        <li>
          <a href="work/image4.jpg" rel="thumb">
            <img class="thumb" src="work/thumb4.jpg">
            <p>Nytillverkad lunett</p>
          </a>
        </li>
        <li>
          <a href="work/image5.jpg" rel="thumb">
            <img class="thumb" src="work/thumb5.jpg">
            <p>Nytillverkat altanräcke</p>
          </a>
        </li>
        <li>
          <a href="work/image6.jpg" rel="thumb">
            <img class="thumb" src="work/thumb6.jpg">
            <p>Nytillverkat balkongräcke</p>
          </a>
        </li>
        <li>
          <a href="work/image7.jpg" rel="thumb">
            <img class="thumb" src="work/thumb7.jpg">
            <p>Övre del av ytterhörnspelare</p>
          </a>
        </li>
        <li>
          <a href="work/image8.jpg" rel="thumb">
            <img class="thumb" src="work/thumb8.jpg">
            <p>Nedre del av ytterhörnspelare</p>
          </a>
        </li>
        <li>
          <a href="work/image10.jpg" rel="thumb">
            <img class="thumb" src="work/thumb10.jpg">
            <p>Snedtak i pärlspånt</p>
          </a>
        </li>
      </ul>
    </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="colorbox/js/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/script.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
